.form-control {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  &:hover {
    border-color: #ff8b80;
  }
  &:active {
    border-color: #ff8b80;
  }
  &:focus {
    border-color: #ff8b80;
    box-shadow: 0 0 0 .2rem rgba(204,55,41,.25);
  }
}
.has-float-label {
  label {
    white-space: nowrap;
    max-width: calc(100% - 40px);
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 0 5px;
    background-color: #fff;
    color: #707070;
  }
  .form-control {
    &:placeholder-shown:not(:focus) + * {
      font-size: 12px;
      pointer-events: none;
      top: 12px;
    }
    &:placeholder-shown{
      &:focus + * {
        color: #cc3729;
      }
      &:active + * {
        color: #cc3729;
      }
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
      &:placeholder-shown {
        color: #cc3729;
      }
    }
  }
}
input[value=""] {
  background-color: greenyellow;
}