@import "variables";

.navbar {
  padding: 0 !important;
}
.navbar-ntx {
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background-color: $accent-color;
  .navbar-container {
    padding: 0 5px;
  }
  .header-content{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    padding-left: 0;
    width: 100%;
  }
  .navbar-nav-ntx {
    color: #f0d1d1;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
    > li {
      .session-info{
        cursor: default;
        .session-time{
          padding-left: 5px;
          user-select: none;
        }
        &:hover {
          text-decoration: none;
          outline: 0;
          color: #fff;
          background-color: rgba(209,209,240,0.2);
        }
        &:active {
          text-decoration: none;
          outline: 0;
          color: #fff;
          background-color: rgba(209,209,240,0.2);
        }
        &:focus {
          text-decoration: none;
          outline: 0;
          color: #fff;
          background-color: rgba(209,209,240,0.2);
        }
      }
      >a {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
        margin: 4px 2px;
        font-size: 12px;
        color: currentColor;
        border-radius: 4px;
        height: 32px;
        font-weight: 600;
        display: -webkit-flex;
        display: flex;
        transition: all 0.2s ease;
        &:hover {
          text-decoration: none;
          outline: 0;
          color: #fff;
          background-color: rgba(209,209,240,0.2);
        }
        &:active {
          text-decoration: none;
          color: $accent-color;
          background-color: #fff;
        }
        &:focus {
          text-decoration: none;
          color: $accent-color;
          background-color: #fff;
        }
      }
    }
  }
  .nav-left {
    > li {
      > div {
        top: 43px;
        color: $font-color;
        margin-bottom: 24px;
        border-color: rgba(0,0,0,0.1);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        ul {
          list-style: none;
          padding: 0;
          li {
            white-space: nowrap;
            font-size: 14px;
            > a {
              cursor: default;
            }
            &:hover {
              text-decoration: none;
              outline: 0;
              background-color: #eee;
            }
            &:active {
              text-decoration: none;
              background-color: #eee;
            }
            &:focus {
              text-decoration: none;
              background-color: #eee;
            }
          }
        }
      }
    }
  }
  .nav-right {
    > li {
      > div {
        top: 43px;
        color: $font-color;
        margin-bottom: 24px;
        border-color: rgba(0,0,0,0.1);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        ul {
          list-style: none;
          padding: 0;
          li {
            white-space: nowrap;
            font-size: 14px;
            > a {
              cursor: default;
            }
            &:hover {
              text-decoration: none;
              outline: 0;
              background-color: #eee;
            }
            &:active {
              text-decoration: none;
              background-color: #eee;
            }
            &:focus {
              text-decoration: none;
              background-color: #eee;
            }
          }
        }
      }
    }
    .user {
      padding: 0;
      > div {
        top: 43px;
        color: $font-color;
        margin-bottom: 24px;
        border-color: rgba(0,0,0,0.1);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 14px;
            font-weight: 400;
            padding: 6px 18px;
            > a {
              cursor: default;
              line-height: 20px;
            }
            .user-name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: top;
              max-width: 155px;
            }
            .user-mail {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: top;
              max-width: 155px;
            }
          }
          .current-user {
            padding-top: 0;
          }
          .divider {
            height: 1px;
            background-color: rgba(0,0,0,0.1);
            display: block;
            margin: 6px 0;
            padding: 0 1px;
          }
          .user-link {
            &:hover {
              text-decoration: none;
              background-color: #eee;
            }
            &:active {
              text-decoration: none;
              background-color: #eee;
            }
            &:focus {
              text-decoration: none;
              background-color: #eee;
            }
            div {
              height: 20px;
              i {
                float: left;
              }
              span {
                margin-left: 0.5rem;
                float: left;
                line-height: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.navbar-collapse-ntx {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  color: currentColor;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
}


.fa-angle-down {
  height: 11px;
  width: 11px;
  margin-left: 4px;
  fill: currentColor;
}

.nav-icon {
  font-size: 24px !important;
}
.small-icon {
  font-size: 24px !important;
  vertical-align: middle;
}

.more-right {
  cursor: pointer;
}
