@import "variables";

.tooltip {
  font-family: -apple-system !important;
  font-size: 12px;
  top: 4px !important;
}
.tooltip-inner {
  padding: 0.5rem 1rem;
  background-color: $font-color;
}
.bs-tooltip-top {
  .arrow {
    &:before {
      border-top-color: #2e2e2e !important;
    }
  }
}
.bs-tooltip-right {
  .arrow {
    &:before {
      border-right-color: #2e2e2e !important;
    }
  }
}
.bs-tooltip-bottom {
  .arrow {
    &:before {
      border-bottom-color: #2e2e2e !important;
    }
  }
}
.bs-tooltip-left {
  .arrow {
    &:before {
      border-left-color: #2e2e2e !important;
    }
  }
}